body {
	background-color: rgb(231, 240, 159);
	color: rgb(55, 100, 0);
	font-family: arial,sans-serif;
	font-size: 0.75em;
	margin: 0;
	padding: 0;
}
a:link, a:visited {
	color: rgb(155, 177, 0);
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: underline;
}
a img {
	border: 0;
}
div#aboutme_preview {
	overflow: hidden;
	width: 300px;
}
div.center {
	text-align: center;
}
div.grippie {
	background: rgb(239, 245, 191) url("/img/grippie.png") no-repeat scroll center 2px;
	border-color: rgb(183,210,0);
	border-style: solid;
	border-width: 0pt 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}
form, form table {
	width: 100%;
}
form td {
	vertical-align: top;
}
form td.field_input, form input, form textarea {
	width: 702px;
}
form td.field_label {
	white-space: nowrap;
}
h1 {
	float: left;
	font-size: 1.5em;
	margin: 0;
}
h2 {
	font-size: 1.2em;
	margin: 0;
}
input, textarea {
	color: rgb(55, 100, 0);
	background-color: rgb(239, 245, 191);
	border: 1px rgb(183,210,0) solid;
	margin: 2px;
}
input#cancel-button, input#submit-button { font-size: 1.1em; width: auto; }
input.logreg { padding: 1px; width: 572px; }
p.openid-identifier {
	background: url("/img/openid-providers-en.png") no-repeat scroll left center transparent;
	background-position: -96px 0px;
	font-size: 1.5em;
	height: 24px;
	line-height: 24px;
	padding-left: 32px;
}
textarea#answer_long { height: 180px; }
textarea#keywords { height: 28px; }
textarea#reply {
	height: 100px;
	width: 700px;
}
textarea#post { height: 180px; }
textarea.resizable {
	display: block;
	margin-bottom: 0px;
}
span.bitcoin_address {
	font-size: 2em;
}

#category_select a.active {
	color: rgb(55, 100, 0);
}
#content {
	background-color: rgb(191, 215, 0);
	margin: 0 auto;
	min-height: 100px;
	overflow: hidden;
	width: 960px;
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;
}
#content-inner {
	background-color: white;
	background-color: rgb(223, 235, 128);
	margin: 0 auto;
	min-height: 100px;
	overflow: hidden;
	width: 958px;
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;	
}
#header {
	height: 29px;
	margin: 0 auto;
	padding-bottom: 10px;
	width: 960px;
}
#logo {
	float: left;
	margin: 6px 15px 0px 0px;
}
#menu {
	float: right;
	margin-top: 2px;
	width: 800px;
}

.categories {
	border-bottom: 1px dotted rgb(215, 230, 96);
	margin: 0 3px;
	overflow: hidden;
	padding: 4px 0;
}
.categories a:link,
.categories a:visited,
.categories a:active {
	color: rgb(55, 100, 0);
}
.categories-outer {
	border-bottom: 1px dotted rgb(207, 225, 64);
}
.error {
	color: #990000;
	font-size: 1.2em;
	font-weight: bold;
}
.header {
	border-bottom: 1px rgb(55, 100, 0) solid;
	min-height: 20px;
	overflow: hidden;
}
.header h2 {
	float: left;
	font-size:1.4em;
	line-height: 20px;
}
.header .sort {
	float: right;
}
.header .sort a {
	background: inherit;
    border: 1px solid rgb(223, 235, 128);
    color: rgb(155, 177, 0);
    display: block;
    float: left;
    height: 14px;
    line-height: 18px;
    margin: 4px 8px 0 0;
    padding: 0 6px;
    text-decoration: none;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;	
}
.header .sort a:hover {
	border-color: rgb(55, 100, 0) rgb(55, 100, 0) rgb(223, 235, 128);
	border-style: solid;
	border-width: 1px;
	line-height: 16px;
	margin-top: 5px;
}
.header .sort a:active {
	border-color: rgb(55, 100, 0) rgb(55, 100, 0) rgb(223, 235, 128);
    border-style: solid;
    border-width: 1px;
    font-size: 1.2em;
    height: 18px;
    line-height: 18px;
    margin-top: 1px;
    padding: 0 12px;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;	
}
.keyword {
	background-color: rgb(239, 245, 191);
	border-bottom: 1px solid rgb(215, 230, 96);
	border-right: 1px solid rgb(191, 215, 0);
	color: rgb(103, 160, 0);
	margin: 2px 2px 2px 0;
	padding: 1px 2px;
	white-space: nowrap;
}
.keyword:hover {
	text-decoration: none;
	background-color: rgb(103, 160, 0);
	border-bottom: 1px solid rgb(55, 100, 0);
	border-right: 1px solid rgb(71, 120, 0);
	color: rgb(239, 245, 191);
}
.lh29 {
	line-height: 29px;
}
.main {
	float: left;
	padding: 8px;
	padding-right: 4px;
	width: 708px;
}
.maincontent {
	padding: 4px 0;
}
.menuitem {
	background-color: rgb(239, 245, 191);
	border: 1px solid rgb(191, 215, 0);
	float: right;
	padding: 5px 10px;
}
.menuitem a:link,
.menuitem a:visited,
.menuitem a:active,
.menuitem-inv a:link,
.menuitem-inv a:visited,
.menuitem-inv a:active {
	color: rgb(55, 100, 0);
}
.menuitem a:hover {
}
.menuitem-inv {
	background-color: rgb(191, 215, 0);
	border: 1px solid rgb(191, 215, 0);
	float: right;
	padding: 5px 10px;	
}
.post {
	border-bottom: 1px dotted rgb(215, 230, 96);
	margin: 0 3px;
	overflow: hidden;
	padding: 4px 0;
}
.post-content {
	float: left;
	width: 100%;
}
.post-links {
	float: left;
}
.post-outer {
	border-bottom: 1px dotted rgb(207, 225, 64);
}
.post-votes {
	float: left;
	font-size: 1.5em;
	text-align: center;
	width: 48px;
}
.post-info, .reply-info {
	float: right;
	width: 160px;
}
.post-info .gravatar,
.reply-info .gravatar {
	float: left;
	overflow: hidden;
}
.post-info .revinfo,
.post-info .userinfo,
.reply-info .revinfo,
.reply-info .userinfo {
	float: left;
	overflow: hidden;
	white-space: nowrap;
}
.postrev-content,
.replyrev-content {
	overflow: hidden;
}
.postrev-content .revision-number,
.replyrev-content .revision-number {
	float: left;
	font-size: 2.5em;
	width: 50px;
}
.postrev-content .revision,
.replyrev-content .revision {
	float: left;
	width: 498px;
}
.replies {
	overflow: hidden;
	padding-top: 10px;
}
.reply {
	overflow: hidden;
	padding: 10px 0;
}
.reply-content {
	float: left;
	width: 100%;
}
.reply-votes {
	float: left;
	font-size: 1.5em;
	text-align: center;
	width: 48px;
}
.submitreply {
	margin-top: 10px;
}
.side {
	float: right;
	padding: 8px;
	padding-left: 4px;
	width: 226px;
}
.sideitem {
	padding: 0 2px 4px;
}
.sideitem .header {
	margin-bottom: 4px;
	text-align: center;
}
.small {
	font-size: 0.8em;
}
.stats {
	float: left;
	margin-right: 4px;
	text-align: center;
}
.stats strong {
	font-size: 1.5em;
}
.stats .posts, .stats .replies, .stats .views, .stats .votes {
	float: left;
	padding: 0 2px;
}
.stats .posts,
.stats .replies {
	background: rgb(115, 147, 0);
	width: 40px;
}
.stats .views {
	background: rgb(153, 181, 0);
	width: 40px;
}
.stats .votes {
	background: rgb(191, 215, 0);
	width: 40px;
}
.success {
	color: #009900;
	font-size: 1.2em;
	font-weight: bold;
}
.summary {
	float: left;
	overflow: hidden;
	width: 566px;
}
.summary h3 {
	float: left;
	margin: 0px;
}
.summary h4 {
	float: right;
	margin: 0px;
}
.posted {
	clear: right;
	float: right;
}
.summary .tags {
	clear: left;
	float: left;
	margin-top: 1px;
}
.summary .top {
	overflow: hidden;
}
.tags {
	margin: 10px 0;
}
.tags a.tag {
    background-color: rgb(210, 232, 0);
    border-bottom: 1px solid rgb(115, 147, 0);
    border-right: 1px solid rgb(115, 147, 0);
    color: #3E6D8E;
    font-size: 0.9em;
    /*line-height: 2.4;*/
    margin: 2px 2px 2px 0;
    padding: 2px 2px 2px 4px;
    text-decoration: none;
    white-space: nowrap;
}
.transactions td {
	border: 1px solid rgb(123, 157, 0);
	padding: 2px;
}
.transactions th {
	background-color: rgb(123, 157, 0);
	color: rgb(223, 235, 128);
	padding: 2px;
}
.vote-up {
	border-color: transparent transparent rgb(155, 155, 155);
    border-style: solid;
    border-width: 0 10px 15px;
	cursor: pointer;
	display: block; 
	font-size: 1px;
    height: 0;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999em;
    width: 0;
}
.voted {
	border-color: transparent transparent rgb(55, 100, 0);
}
.witizen_aboutme {
	float: left;
	overflow: hidden;
	width: 300px;
}
.witizen_details {
	float:left;
	padding-right: 10px;
	width: 250px;
}
.witizen_details .field_label {
	float: left;
	width: 100px;
}
.witizen_details .field_value {
	float: left;
	overflow: hidden;
	white-space: nowrap;
	width: 150px;
}
.witizen_details_edit {
	float: left;
	width: 560px;
}
.witizen_gravatar {
	float: left;
	padding-right: 10px;
	width: 128px;
}

body.witizens_edit input {
	width: 200px;
}
body.witizens_edit textarea {
	height: 200px;
	width: 450px;
}
