.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0 0 1px 0;
}
body {
	background-color: #002540;
	color: #000000;
	font-family: arial,sans-serif;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
}
body.p_catman textarea,
body.p_donate input, body.p_donate textarea,
body.p_editpost input, body.p_editpost textarea,
body.p_editreply input, body.p_editreply textarea,
body.p_post input, body.p_post textarea,
body.p_reply input, body.p_reply textarea,
body.p_support input,
body.p_viewpost input, body.p_viewpost textarea {
	margin: 0;
	max-width: 100%;
	width: 752px;
}
body.p_donate input[type=submit],
body.p_editpost input[type=submit],
body.p_editreply input[type=submit],
body.p_post input[type=submit],
body.p_reply input[type=submit],
body.p_support input[type=submit],
body.p_viewpost input[type=submit] {
	margin: 0;
	max-width: 100%;
	width: 754px;
}
body.p_charity input, body.p_charity textarea {
	marg: 0;
	max-width: 100%;
	width: 915px;
}
body.p_charity input[type=submit] {
	width: 917px;
}
body.p_catman h3 {
	margin: 1.5em 0 0.5em;
}
body.p_catman h3:first-child {
	margin-top: 0 0 0.5em;
}
a:link, a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: underline;
}
a img {
	border: 0;
}
div#aboutme_preview {
	overflow: hidden;
	width: 15em;
}
div.center {
	text-align: center;
}
div.grippie {
	background: #FFFFFF url("/img/grippie.png") no-repeat scroll center 2px;
	border-color: #999999;
	border-style: solid;
	border-width: 0pt 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}
form table.costs,
form table.lang {
	width: auto;
}
form td.field_label {
	white-space: nowrap;
}
form td.middle {
	vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}
h1 {
	float: left;
}
h1 a:link, h1 a:visited {
	color: #EEEEEE;
	padding: 0 10px;
	text-decoration: none;
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;	
}
h1 a:hover {
	background-color: #FFFFFF;
	color: #000000;
}
input, textarea {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px #999999 solid;
	margin: 2px;
}
input#cancel-button, input#submit-button,
input.cancel-button, input.submit-button {
	font-size: 1.1em;
	width: auto;
}
input.lang {
	width: 13em;
}
input.logreg {
	padding: 1px;
	width: 572px;
}
input[type="checkbox"] {
	margin: 0px;
	vertical-align: bottom;
}
optgroup option {
	padding-left: 15px;
}
p.openid-identifier {
	background: url("/img/openid-providers-en.png") no-repeat scroll left center transparent;
	background-position: -96px 0px;
	font-size: 1.5em;
	height: 24px;
	line-height: 24px;
	padding-left: 32px;
}
table.charities {
	width: 100%;
}
table.charities td.name img {
	max-height: 64px;
	max-width: 256px;
}
table.charities th {
	text-align: left;
}
td {
	vertical-align: top;
}
td.witcoins {
	text-align: right;
}
textarea {
	height: 180px;
}
textarea.resizable {
	display: block;
	margin-bottom: 0px;
}
span.bitcoin_address {
	font-size: 2em;
}

#category {
	clear: both;
	height: 29px;
	margin-top: 5px;
	overflow: hidden;
}
#category_filter {
	width: 15em;
}
#container {
	margin: 0 auto 2em;
	width: 960px;
}
#content {
	background-color: #FFFFFF;
	margin: 0 auto;
	min-height: 100px;
	overflow: hidden;
	padding: 1em;
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;	
}
#footer {
	color: #FFFFFF;
	padding-top: 5px;
	text-align: center;
}
#header {
	padding-bottom: 5px;
}
#logo {
	float: left;
	margin: 6px 5px 0px 10px;
}
#menu {
	background-color: #000000;
	float: right;
	margin: 5px 10px 0 0;
	max-width: 700px;
	padding: 0 10px;
	border-radius: 14px;
	-moz-border-radius: 14px;
}
#nav {
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	height: 21px;
	padding: 4px;
}
#nav a {
	color: #EEEEEE;
	padding: 0 10px;
	text-decoration: none;
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;	
}
#nav a:hover {
	background-color: #FFFFFF;
	color: #000000;
}
#nav .here {
	background-color: #FFFFFF;
	color: #000000;
	cursor: default;
	padding: 0 10px;
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;	
}
#popup {
	font-size: 1.5em;
	left: 50%;
	margin-left: -320px;
	position: fixed;
	text-shadow: 1px -1px 0 #330000, -1px -1px 0 #330000, 1px 1px 0 #330000, -1px 1px 0 #330000, 1px -2px 0 #330000, -1px -2px 0 #330000, 1px 2px 0 #330000, -1px 2px 0 #330000, 2px -1px 0 #330000, -2px -1px 0 #330000, 2px 1px 0 #330000, -2px 1px 0 #330000;
	top: 50%;
	width: 640px;
}
#popup .error {
	text-align: center;
}
#special {
	float: right;
	margin: 5px 10px 0 0;
	padding: 0 10px;
	border-radius: 14px;
	-moz-border-radius: 14px;
}
#tag-preview {
	overflow: hidden;
}
#top {
	overflow: hidden;
}

.auth_bitcoin {
	background: url("/img/btc_logo_24.png") no-repeat scroll 0 0 rgb(255, 255, 255);
	height: 24px;
	line-height: 24px;
	padding-left: 24px;
	width: 0px;
}
.auth_openid {
	background: url("/img/openid-providers-en.png") no-repeat scroll 0px -60px rgb(255, 255, 255);
	height: 24px;
	line-height: 24px;
	padding-left: 24px;
	width: 0px;
}
.balance {
	margin-left: 48px;
}
.cat-collapse {
	color: #666666;
	cursor: pointer;
	float: left;
	font-family: monospace;
}
.categories {
	border-bottom: 1px dotted #999999;
	margin: 0 3px;
	overflow: hidden;
	padding: 4px 0;
}
.categories a:link,
.categories a:visited,
.categories a:active {
	color: #999999;
}
.categories-outer {
	border-bottom: 1px dotted #888888;
}
.charity {
	text-align:center;
}
.charity_stats {
	font-size: 2em;
	padding-top: 2em;
}
.charity_stats div {
	padding-bottom: 1em;
}
.charity_stats div:last-child {
	padding-bottom: 0;
}
.costs .action {
	float: left;
	white-space: nowrap;
	width: 90px;
}
.costs .cost {
	font-weight: bold;
}
.debug {
	background-color: #000000;
	color: #FF0000;
	font-family: monospace;
	font-size: 12px;
	padding: 4px;
}
.error {
	color: #990000;
	font-size: 1.2em;
	font-weight: bold;
}
.header {
	border-bottom: 1px #000000 solid;
	overflow-y: hidden;
}
.headerf, .subheaderf {
	border-bottom: 1px #000000 solid;
	height: 20px;
}
.header h2, .headerf h2, .subheaderf h3 {
	float: left;
	line-height: 20px;
}
.header h3 {
	float: left;
}
.headerf .sort, .subheaderf .sort {
	float: right;
}
.headerf .sort a, .subheaderf .sort a {
	background: inherit;
	border: 1px solid #FFFFFF;
	color: #000000;
	display: block;
	float: left;
	height: 14px;
	line-height: 18px;
	margin: 4px 8px 0 0;
	padding: 0 6px;
	text-decoration: none;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;	
}
.headerf .sort a:hover, .subheaderf .sort a:hover {
	border-color: #000000 #000000 #FFFFFF;
	border-style: solid;
	border-width: 1px;
	line-height: 16px;
	margin-top: 5px;
}
.headerf .sort a.active, .subheaderf .sort a.active {
	border-color: #000000 #000000 #FFFFFF;
	border-style: solid;
	border-width: 1px;
	font-size: 1.2em;
	height: 18px;
	line-height: 18px;
	margin-top: 1px;
	padding: 0 12px;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;	
}
.help {
	font-size: 1.4em;
	text-transform: lowercase;
}
.inbox_ntsh {
	background-color: #FFFFFF;
}
.inbox_stsh {
	background-color: #009900;
}
.indented {
	padding-left: 10px;
}
.jqmOverlay {
	background-color: #002540;
}
.language {
	padding: 0 0.5em;
}
.lh29 {
	line-height: 29px;
}
.listheader {
	overflow: hidden;
}
.loss {
	color: #990000;
	white-space: nowrap;
}
.main {
	margin-right: 16em;
}
.maincontent {
	padding: 4px 0;
}
.menuitem {
	float: right;
	padding: 5px 10px;
}
.menuitem a:link,
.menuitem a:visited,
.menuitem a:active {
	color: #FFFFFF;
}
.menuitem a:hover {
}
.messages {
	white-space: nowrap;
}
.newcat {
	float: left;
}
.post {
	background: #f3f3f3 !important;
	padding: 1em !important;
}
.post-body {
	overflow-y:hidden;
}
.post-body img, .wmd-preview img {
	max-width: 100%;
}
.post-header,
.postrev-content,
.reply-header {
	overflow: hidden;
}
.post-header .gravatar,
.postrev-content .gravatar,
.reply-header .gravatar {
	float: right;
	overflow: hidden;
	padding-right: 2px;
}
.post-header .post-time,
.postrev-content .post-time,
.reply-header .reply-time {
	float: right;
}
.post-header .post-info,
.postrev-content .post-info,
.reply-header .reply-info {
	float: right;
	overflow: hidden;
}
.post-header .revinfo,
.post-header .userinfo,
.postrev-content .userinfo,
.reply-header .revinfo,
.reply-header .userinfo {
	clear: right;
	float: right;
	overflow: hidden;
	white-space: nowrap;
}
.post-header-left {
	float: left;
}
.post-links {
	margin-left: 48px;
}
.post-short {
	border-bottom: 1px dotted #92B087;
	overflow: hidden;
	padding: 0.4em 0;
}
.post-short:hover {
	background: #FFF9EB;
}
.post-short:last-child {
	border-bottom: 0;
}
.post-votes,
.reply-votes {
	float: left;
	font-size: 1.5em;
	text-align: center;
	width: 48px;
}
.posted {
	clear: right;
	float: right;
}
.postrev-content,
.replyrev-content {
	overflow: hidden;
}
.postrev-content .revision-number,
.replyrev-content .revision-number {
	float: left;
	font-size: 2.5em;
	width: 50px;
}
.postrev-content .revision,
.replyrev-content .revision {
	float: left;
	width: 498px;
}
.profit {
	color: #009900;
	white-space: nowrap;
}
.remaining {
	float: right;
}
.replies {
	overflow: hidden;
	padding-top: 10px;
}

.reply {
	background-color: #f3f3f3;
	margin-top: 1em;
	padding: 1em;
}
.reply-collapse {
	color: #666666;
	cursor: pointer;
	float: left;
	font-family: arial,verdana;
	margin-left: -0.75em;
	margin-top: -0.75em;
	position: absolute;
}
.reply-content {
	overflow-y:hidden;
}
.reply-content img {
	max-width: 736px;
}
.side {
	float: right;
	width: 15em;
}
.sideitem {
	padding: 0 2px 4px;
}
.sideitem .header {
	margin: 0 0 4px;
}
.small {
	font-size: 0.8em;
}
.stats {
	float: left;
	font-size:0.9em;
	text-align: center;
	color: #70654A;
}
.stats strong {
	display: block;
	font-size: 1.5em;
	color: #000;
}
.stats .posts, .stats .replies, .stats .views, .stats .votes {
	float: left;
	padding: 0.3em 0.3em 0.1em 0.3em;
}
.stats .posts,
.stats .replies {
	background: #FFD55D;
	width: 32px;
}
.stats .views {
	background: #FFE090;
	border-left: 0;
	width: 32px;
}
.stats .votes {
	background: #FFECBC;
	border-left: 0;
	width: 32px;
}
.status {
	font-size: 0.8em;
}
.status-button {
	width: auto !important;
}
.status_filter {
	float: right;
}
.submitreply {
	margin-top: 10px;
}
.success {
	color: #009900;
	font-size: 1.2em;
	font-weight: bold;
}
.summary {
	margin-left: 88pt;
}
.summary h3 {
	margin: 0px;
}
.summary .tags {
	margin-top: 1px;
	float: left;
}
.summary .top {
	overflow: hidden;
}
.summarycat {
	margin-left: 38pt;
}
.tableheader {
	cursor: pointer;
}
.tags {
}
.tags a.tag {
	background-color: #80c088;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #888888;
	color: #FFFFFF;
	display: inline-block;
	font-size: 8.5pt;
	font-weight: bold;
	margin: 0 0 2.5pt 0;
	padding: 1px 4px 2px;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;	
}
.tags a.tag:hover {
	text-decoration: none;
	background-color: #FFE090;
	color: #000000;
}
.threaded {
	border-left: 1px dotted #aaa;
	margin: 0;
	padding-left: 10px;
}
.thumb {
	margin-left: 88pt;
}
.thumb img {
	height: 40px;
	float: left;
	padding: 0 2px 0 0;
}
.transactions td {
	border: 1px solid #999999;
	padding: 2px;
}
.transactions th {
	background-color: #999999;
	color: #000000;
	padding: 2px;
}
.vote-up {
	border-color: transparent transparent #999999;
	border-style: solid;
	border-width: 0 10px 15px;
	cursor: pointer;
	display: block; 
	font-size: 1px;
	height: 0;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999em;
	width: 0;
}
.voted {
	border-color: transparent transparent #333333;
}
.witizen {
	overflow: hidden;
}
.witizen_aboutme {
	float: left;
	overflow: hidden;
	width: 15em;
}
.witizen_actions {
	margin-top: 4px;
	overflow: hidden;
	width: 15em;
}
.witizen_details {
	clear: left;
	overflow: hidden;
	width: 15em;
}
.witizen_details h2 {
	float: left;
	padding-right: 4px;
}
.witizen_details .field_label {
	clear: left;
	float: left;
}
.witizen_details .field_value {
	float: right;
	overflow: hidden;
	white-space: nowrap;
}
.witizen_details_edit {
	float: left;
	width: 560px;
}
.witizen_gravatar {
	float: left;
}

body.witizens_edit input {
	width: 200px;
}
body.witizens_edit textarea {
	height: 200px;
	width: 450px;
}





#wmd-editor {
	background-color: aquamarine;
}
.wmd-button {
	background-image: url("/img/wmd-buttons.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block; 
	height: 20px; 
	list-style: none;
	margin-left: 5px;
	margin-right: 5px;
	width: 20px; 
}
.wmd-button > a {
	display: inline-block; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	width: 20px; 
}
.wmd-button-bar {
	/*width: 55em;*/
}
.wmd-button-bar .wmd-bold-button    {background-position: 0px 0;}
.wmd-button-bar .wmd-italic-button  {background-position: -20px 0;}
.wmd-button-bar .wmd-link-button    {background-position: -40px 0;}
.wmd-button-bar .wmd-quote-button   {background-position: -60px 0;}
.wmd-button-bar .wmd-code-button    {background-position: -80px 0;}
.wmd-button-bar .wmd-image-button   {background-position: -100px 0;}
.wmd-button-bar .wmd-olist-button   {background-position: -120px 0;}
.wmd-button-bar .wmd-ulist-button   {background-position: -140px 0;}
.wmd-button-bar .wmd-heading-button {background-position: -160px 0;}
.wmd-button-bar .wmd-hr-button      {background-position: -180px 0;}
.wmd-button-bar .wmd-undo-button    {background-position: -200px 0;}
.wmd-button-bar .wmd-redo-button    {background-position: -220px 0;}
.wmd-button-bar .wmd-help-button    {background-position: -240px 0;}
.wmd-button-row {
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	position: relative; 
}
.wmd-input {
	border: 1px solid darkgray;
	height: 500px;
}
.wmd-output {
	background-color: pink;
}
.wmd-panel {
	margin-left: 25%;
	margin-right: 25%;
	min-width: 500px;
	width: 50%;
}
.wmd-preview {
	min-height: 10px;
	overflow-y: hidden;
}
.wmd-prompt-background {
	background-color: black;
}
.wmd-prompt-dialog {
	background-color: #F5F5F5;
	border: 1px solid #999999;
}
.wmd-prompt-dialog > div {
	font-family: arial, helvetica, sans-serif;
	font-size: 0.8em;
}
.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}
.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet ms, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
.wmd-spacer {
	background-color: Silver;
	display: inline-block; 
	height: 20px; 
	list-style: none;
	margin: 0 7px;
	width: 1px; 
}

.w_absolute {
	position: absolute;
}